/***CSS*Index*Page***Elemental*Play***/
* {
	margin: 0;
	padding: 0;
}

body, html{
	background-color: rgb(0, 191, 255);
	/**background: #0a0212; **/
    width: 100%;
    height:100%;
	margin: 0 auto;
}

body{
    background-color:#dda0dd; 
}


h1{
    color: #ddd;
    font-family: 18thcentury;
    font-size: 4.5rem;
    margin: 0 auto;
    height: 100%;
    text-shadow: 1px 1px 2px #12181d;
    align-content: center;
    text-justify: center;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

/**Nav Bar Holding Main Page Buttons***/
/**
.nav{ 
    display: grid;
    max-width:100%;
    height:100%;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    grid-template-rows: auto;
    column-gap: 5%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ddd;
} **/

.nav{
    display: grid;
    width:100%;
    height: 70px;
    grid-template-columns: repeat(auto-fit, minmax(65px, auto));
    column-gap: 5%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    
    border-style: solid;
	border-width:3px;
	border-color: #AB7BAB;
}

/*****/
.nav a{
    font-size: 32px;
    color: #5E285E;
    margin: 0 auto;

    text-decoration: none;
}

header{
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(65px, auto));
    grid-template-rows: 110px 100px auto;
    grid-gap: 2%;
    padding: 10px;
}



/***Adjust Buttons in Nav****/
/**
.navButton{
    width: 55px;
    height:30px;
    color: #ddd;
    background-color: #5E445E;
    border-radius: 10px;
    border-style: solid;
	border-width:3px;
	border-color: #E35FE3; 
}**/

